$font-size: 1rem;
$font-color: rgb(53 105 40);

@font-face {
  font-family: 'Montserrat';
  //src: url('/fonts/Montserrat-Medium.woff') format('woff'),
  //url('/fonts/Montserrat-Medium.woff2') format('woff2');
  src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Montserrat', 'Arial', sans-serif;
}

#root {
  font-size: $font-size;
  color: $font-color;
  transition: .2s ease;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}


